
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    <label>
        Tên đăng nhập :
    </label>
    <input type="text" name="username"/>
    <label>
        Mật khẩu:
    </label>
    <input type="password" name="password"/>
    <input type="submit" value="login"/>
}
@ViewBag.error